@model WebApp.Models.Home.PaginaInicialViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Quantidade de amigos: @Model.quantidadeAmigos </h2>
    <h2 class="display-4">Quantidade de paises: @Model.quantidadePaises </h2>
    <h2 class="display-4">Quantidade de estados: @Model.quantidadeEstados </h2>



</div>
